<app-navegacion [titulo]="'PARQUEADERO'"></app-navegacion>
<div class="container">
  <app-formulario (parametros)="registrarVehiculo($event)"></app-formulario>
  <app-registro-vehiculo [respuestaIngreso]="respuestaIngreso" [respuestaIngresoError]="respuestaIngresoError">
  </app-registro-vehiculo>
  <app-salida-vehiculo 
    (parametros)="consultarPlaca($event)" 
    [respuestaSalida]="respuestaSalida"
    [respuestaSalidaError]="respuestaSalidaError"

    (parametrosSalida)="registrarSalida($event)" 
    [respuestaSalidaVehiculo]="respuestaSalidaVehiculo"
    [respuestaSalidaVehiculoError]="respuestaSalidaVehiculoError"
  >
  </app-salida-vehiculo>

  <app-consulta-general 
    (parametros)="consultarFechas($event)" 
    [respuestaFechas]="respuestaFechas"
    [respuestaFechasError]="respuestaFechasError"  
  >
  
  </app-consulta-general>

</div>